<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div class="right_layout" id="lyrics">
        <p style="color: #fff;">Hello</p>
        <div class="lyrics-container">
            <p data-time="0">Line 1 of the lyrics</p>
            <p data-time="5">Line 2 of the lyrics</p>
            <p data-time="10">Line 3 of the lyrics</p>
            <p data-time="15">Line 4 of the lyrics</p>
    </div> -->
</body>
</html>