<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="main.css"> -->

</head>

<body>
    <div class="right_layout" id="right_layout_music">
        <div class="right_layout_container">
            <div class="right_layout_container_resize">
                <!-- Navigator -->
                <div class="navigator">
                    <div class="all">
                        <p>All</p>
                    </div>
                    <div class="music">
                        <p>Music</p>
                    </div>
                    <div class="podcast">
                        <p>Podcast</p>
                    </div>
                </div>



                <!-- Popular albums -->
                <div class="right_layout_content">
                    <div class="title">
                        <h1>Popular albums</h1>
                    </div>
                    <div class="card_container" id="artistContainer">
                        <!-- <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div> -->
                    </div>

                </div>

                <!-- Popular Radio -->
                <div class="right_layout_content">
                    <div class="title">
                        <h1>Popular music</h1>
                    </div>
                    <div class="card_container" id="artistContainerSquareBox">
                        <!-- <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div> -->
               


                    </div>

                </div>

                <!-- Featured Charts -->
                <!-- <div class="right_layout_content">
                    <div class="title">
                        <h1>Popular radio</h1>
                    </div>
                    <div class="card_container">
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                        <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                           <div class="card_square_box">
                            <div class="card_square">
                                <img src="./assets/image/ab676161000051745a79a6ca8c60e4ec1440be53.jfif" alt="">
                            </div>
                            <div class="name_artists">
                                <p>Sơn tùng M-TP</p>
                                <p>Artist</p>
                            </div>
                        </div>
                  
                        
                    </div>
                    
                </div> -->




            </div>

        </div>


    </div>


    <!-- <script src="/script.js"></script> -->
</body>

</html>