<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="left_layout">
        <div class="side_bar">
            <div class="your_library">
                <h2>Your Library</h2>
                <div class="plus_button">
                    <button class="plus_icon">+</button>

                </div>

            </div>
            <div class="navigator">
                <div class="playlists">
                    <p>Playlists</p>
                </div>
                <div class="artists">
                    <p>Artists</p>
                </div>
                <div class="podcast_shows">
                    <p>Podcast&Shows</p>
                </div>
            </div>
            <div class="search_left_layout">
                <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                <input type="text">
            </div>
            <div class="playlist_music" id="myLibrary">
               
              
                
                
            </div>
        <div>
    </div>
</body>
</html>